* {
  box-sizing: border-box;
}

body {background-color: white;}
h1   {color: red;}
p    {color: green;}

div.a {
  text-indent: 50px;
}
div.b {
  text-indent: -2em;
}
div.c {
  text-indent: 30%;
}

/* Float for images side by side */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}
